    <mat-form-field class="example-full-width">
        <mat-label>{{controlName}}</mat-label>
        <input matInput [formControlName]="controlName">
    </mat-form-field>
    {{controlErrors | json}}
<!-- 
    <mat-error *ngFor="let errorKey of controlErrorKeys">
        {{errorKey | json}}
    </mat-error> -->
    <mat-error *ngIf=" controlErrorKeys.length > 0">
        {{getErrorMsg(controlErrorKeys[0])}}
        <!-- {{validatorsService.validations[controlErrorKeys[0].toString()].message}} -->
    </mat-error>



